<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; bottom: 0; width: 100%;
box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="https://github.com/fernandOlle/" class="navbar-brand ml-auto nav-link" style="margin-left: 1rem;">fernandOlle</a>
            </li>
        </ul>
    </div>
</nav>